body{
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecebeb;
    padding: 5px 20px;
}

.nav-icons{
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-icons a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
 
.nav-icons a:visited {
    color: black; /* Залишається чорним навіть після відвідування */
}

.nav-icons a:hover{
    color: #f5f5f5;
}

.logo{
    text-align: center;
    font-size: 70px;
    transition: transform 0.4s ease; /*зміни трансформації виконувались плавно протягом 0.4 секунд.*/
    display: inline-block; /* Щоб можна було анімувати трансформації */
}

.era{
    background-image: url(https://s3-alpha-sig.figma.com/img/c587/c104/02c0386fc5bd12649d57432acd12760c?Expires=1731283200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Tmshrkmw2dy066EYtQSlyljgB8E4FZMAZXOdq1UFS11iUgr7cjQztl03i0cLgkkqO-my3MvucdsGGhHQiwsXoYVFIEhCcLfiohKiJGtoEzyaf79tVDarB1-pz1drQPKq7aARVl9FCwEdqDmB6MhDfqWbehRIkRq1bDlEb5OrM1rEYoJBCl5-Irq3JeERWIcdqB1m6Jq~ee7WmHRzAE82e3017FwTQKs2nMR290r7BpEtGRTHbkl0ctgvRL6WzNwzeUqvKimd5FJZa3~AJ~ULleHua5zTqxjMXW7yhS6zG6vOcOF-El5XuDDvVjh7Q20ZYO8fSzmBlRqDXqoPHI7rEw__);
    background-position: center;
    padding-top: 550px;
    padding-bottom: 335px;
    margin: 0;
}

h3{
    color: white;
    font-size: 60px;
    text-align: center;
}

.sign_in{
    font-size: 50px;
}

.form_signin {
    display: flex;
    justify-content: center; /* Горизонтальне вирівнювання */
    align-items: center;     /* Вертикальне вирівнювання */ 
}

form {
    max-width: 400px; /* Максимальна ширина форми */
    padding: 20px;
    text-align: center; /* Вирівнює текстові елементи по центру */
}

.form_floating {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; /* Вирівнює інпут та лейбл вертикально */
    align-items: center;    /* Центрує інпут та лейбл */
    width: 100%;
}

.form_control {
    width: 100%; /* Інпут займає всю доступну ширину */
    padding: 10px;
    box-sizing: border-box; /*При використанні box-sizing: border-box;, будь-які відступи та рамки входять у ширину і висоту елемента. Іншими словами, ширина і висота елемента більше не зростають від padding або border, бо вони вже включені в ці розміри.*/
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
}

.button {
    padding: 15px 30px;
    background-color: white;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    font-family: serif;
    border-color: black;
}

.button:hover{
    background-color: black;
    color: white;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center; /* Центрує чекбокс з лейблом */
    margin-bottom: 15px;
    cursor: pointer;
}

.footer-content{
    background-color: #ecebeb;
    color: gray;
    padding: 20px;
    text-align: center;
}

.button_back{
    padding: 20px 50px;
    border-radius: 30px;
    margin: 70px 50px;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.button_back:hover{
    background-color: black;
    color: white;
}
